
@{
    ViewBag.Title = "Index";
}

<script type="text/javascript" src="http://api.map.baidu.com/getscript?v=2.0&ak=c4347QuZUP2khVUcF9jNSyO6kGL9Ccij"></script>

<style>
    #allmap {
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin: 0;
        font-family: "微软雅黑";
    }

    .anchorBL{
        display:none;
    }


</style>

<body>
    <div id="allmap"></div>

    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="~/Scripts/mapdemo/mapdemo.js"></script>
</body>




