<!-- ko with: home -->
<div class="jumbotron">
    <h1>DEMO站点</h1>

</div>
<div class="row">
    <div class="col-md-4">
        <h2>PDF 预览演示</h2>
        <p><a class="btn btn-default" href="../pdfdemo/index">点击进入</a></p>
    </div>

    <div class="col-md-4">
        <h2>地图演示</h2>
        <p><a class="btn btn-default" href="../mapdemo/index">点击进入</a></p>
    </div>

    @*<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>

<!-- /ko -->
